<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">    <title>HMS</title>
	<title>HMS</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="collapse navbar-collapse justify-content-md-center">
      <b><h1 style="color:white">Hospital Management System</h1></b>
  </div>
</nav>

<center>
<h3> Patient Billing </h3>
<br>
<table class="pure-table">
    <thead>
        <tr>
            <th>Patient-ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
			<th>DOJ</th>
			<th>Date of Discharge</th>
            <th>Type of Room</th>
        </tr>
		

    </thead>
	<tbody>
	<! one sample entry>
        <tr class="pure-table-odd">
            <td>1234</td>
            <td>Joseph</td>
            <td>56</td>
            <td>Hyderabad</td>
			<td>03-May-2019</td>
			<td>10-May-2019</td>
			<td>Single</td>
        </tr>
		<! add other entries from database>
	</tbody>
	</table>
	<br>
	<p><b> No. of Days: 7 &nbsp; &nbsp; &nbsp; Bill for room: Rs. 50000</b></p>
<hr>	
	
<h3>Pharmacy Charges</h3>

<table class="pure-table">
    <thead>
        <tr>
            <th>Medicine</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Amount</th>
			
        </tr>
		

    </thead>
<br>	

	<tbody>
	<! one sample entry>
        <tr class="pure-table-odd">
            <td>Paracetamol</td>
            <td>10</td>
			<td>Rs. 55.0</td>
			<td>Rs. 550</td>
        </tr>
		<! add other entries>
	</tbody>
	</table>
	<br>
<p><b>Bill for pharmacy: Rs. 550</b></p>

<hr>
<h3>Diagnostics Charges</h3>

<table class="pure-table">
    <thead>
        <tr>
            <th>Name of the Test</th>
            <th>Amount</th>
            		
        </tr>
		

    </thead>
<br>	

	<tbody>
	<! one sample entry>
        <tr class="pure-table-odd">
            <td>CBP</td>
            <td>Rs. 2000</td>
			
        </tr>
		<! add other entries>
	</tbody>
	</table>
	
	
	</br>
	<p><b>Bill for diagnostics: Rs. 2000</b></p>

<hr>
	<p><b>Grand Total: Rs. 52 550</b></p>
	<button type="submit" value="Confirm">Confirm</button> 

	<br><br>
	





</body>
</html>