<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand font-weight-bolder" href="{{url_for('home')}}">Hospital Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        {% if Login %}
        {% else %}
       
        <div class="dropdown">
          <a href="{{url_for('home')}}"><button style="padding: 10px; margin: 5px;" class="dropbtn">Home</button>
          <div class="dropdown-content">
        
          </div>
        </div></a>


        <div class="dropdown">
          <a href="{{url_for('patient_list')}}"><button style="padding: 10px; margin: 5px;" class="dropbtn">Patient</button></a>
          <div class="dropdown-content">
            <a href="{{url_for('patient_register')}}">Create Patient</a>
            <a href="{{url_for('patient_update')}}">Update Patient</a>
            <a href="{{url_for('patient_delete')}}">Delete Patient</a>
            <a href="{{url_for('patient_list')}}">View Patient List</a>
            <a href="{{url_for('patient_view')}}">Search for Patient</a>
      
          </div>
        </div>
      
        <div class="dropdown">
          <button style="padding: 10px; margin: 5px;" class="dropbtn">Pharmacy</button>
          <div class="dropdown-content">
            <a href="{{url_for('issue_medicines')}}">Issue Medicines</a>
        
          </div>
        </div>
      
        <div class="dropdown">
          <button style="padding: 10px; margin: 5px;" class="dropbtn">Diagnostics</button>
          <div class="dropdown-content">
            <a href="{{url_for('diag_patient_details')}}">Add Diagnostics</a>
        
          </div>
        </div>




        {% endif %}
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if Login %}
        {% else %}


        <div class="dropdown">
          <a href="{{url_for('logout')}}"><button style="padding: 10px; margin: 5px;" class="dropbtn">Logout</button>
          <div class="dropdown-content">
        
          </div>
        </div></a>
        
        {% endif %}
       
      </ul>
    </div>
  </nav>