{% extends "base.html" %}

{% block title %}
    Patient Update
{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-5 mx-auto mt-3 shadow rounded border">
			{% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success mt-3">{{message}}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
			<h2 class="text-center my-2">Update Patient</h2>
			<form action="" method="POST">
				<div class="form-group">
					<label for="PatientId"><b>Patient ID*</b></label> <small class="ml-5 text-danger" id="result"></small>
					<div class="input-group mb-3">
	 					<input type="text" placeholder="Enter Patient ID" name="PatientId" id="PatientId" required class="form-control">
						<div class="input-group-append get">
							<button class="input-group-text" onclick="get_patient();">Get</button>
						</div>
					  </div>
				</div>
				<div class="form-group">
					<label for="PatientName"><b>Patient Name*</b></label>
	  				<input class="form-control" type="text" placeholder="Enter patient's name" name="PatientName" id="PatientName" required>
				</div>
				<div class="form-group">
					<label for="PatientAge"><b>Patient Age*</b></label>
	 		 		<input class="form-control" type="number" placeholder="Enter patient's age" name="PatientAge" id="PatientAge" required>
				</div>
				<div class="form-group">
					<label for="DateOfAdmin"><b>Date of Admission*</b></label>
	 	 			<input class="form-control" type="date" name="DateOfAdmin" id="DateOfAdmin" required>
				</div>
				<div class="form-group">
					<label for="Bed"><b>Type of Bed*</b></label>
					<select class="form-control" name="Bed" id="Bed" required>
					<option value="">--Select--</option>
					<option value="General Ward">General Ward</option>
					<option value="Semi Sharing">Semi Sharing</option>
					<option value="Single Room">Single Room</option>
					</select>
				</div>
				<div class="form-group">
					<label for="Address"><b>Address*</b></label>
					<textarea class="form-control" rows = "5" cols = "50" name = "Address" id="Address" required></textarea>
				</div>
				<div class="form-group">
					<label for="State"><b>State*</b></label>
	  				<input pattern="[a-zA-Z]*" oninvalid="setCustomValidity('Please enter on alphabets only. ')" class="form-control" type="text"  name="State" id="State" required>
				</div>
				<div class="form-group">
					<label for="City"><b>City*</b></label>
	  				<input pattern="[a-zA-Z]*" oninvalid="setCustomValidity('Please enter on alphabets only. ')" class="form-control" type="text" name="City" id="City" required>
				</div>
				<div class="form-group text-center">
					<button class="btn btn-success" id="submit" type="submit" value="submit">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function get_patient(){
		pid = $("#PatientId").val();
		$.ajax({
            url:"{{url_for('get_patient')}}",
            type:"get",
            data:{pid:pid},
            success:function(data){
				if(data["status"] == true){
					$("#result").html("")
					$("#PatientName").val(data["name"]);
					$("#PatientAge").val(data["age"]);
					$("#DateOfAdmin").val(data["date"]);
					$("#Address").val(data["address"]);
					$("#Bed").val(data["bed"]);
					$("#State").val(data["state"]);
					$("#City").val(data["city"]);
				}
				else{
					$("#result").html("* Patient Id is not exist! Please try again *")
					
				}
			}
        })
	}
</script>

{% endblock %}



